// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

// THIS MUST BE AT THE VERY TOP - NO EMPTY LINES OR COMMENTS BEFORE IT
@use '@angular/material' as mat;

// Include the common styles for Angular Material
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ems-frontend-primary: mat.define-palette(mat.$indigo-palette);
$ems-frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ems-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" as well as "typography" and "density".
$ems-frontend-theme: mat.define-light-theme(
  (
    color: (
      primary: $ems-frontend-primary,
      accent: $ems-frontend-accent,
      warn: $ems-frontend-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ems-frontend-theme);
